.articles-grid
    margin-bottom: 60px
    &__container
        display: flex
    &__left
        flex-basis: 75%
        margin-right: 30px
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: minmax(min-content, max-content) 1fr 1fr
        grid-gap: 30px
    &__right
        flex-basis: calc( 25% - 30px )
        overflow: hidden
        border-radius: 10px
    &__item
        background-color: white
        border-radius: 10px
        overflow: hidden
    &__link
        display: block

/* First card */

.articles-grid-1
    grid-area: 1 / 1 / 2 / 3
    &__link
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
    &__top
        position: relative
        padding: 35px
        padding-bottom: 49px
        >*
            position: relative
        &::after
            content: ''
            position: absolute
            top: 0
            left: 60%
            width: 40%
            height: 100%
            background-image: linear-gradient(to left, transparent 50%, white 100%),
            linear-gradient(to bottom, transparent 70%, white 100%),
    &__img
        position: absolute
        top: 0
        left: 60%
        width: 40%
        height: 100%
        object-fit: cover
    &__category
        display: block
        margin-bottom: 20px
        text-transform: uppercase
        font-size: 12px
        line-height: 15px
        font-weight: 900
        letter-spacing: 0.5px
        color: #6E99AE
    &__heading
        margin-bottom: 25px
        max-width: 60%
        +roboto
        font-size: 25px
        line-height: 30px
        color: $gray100
    &__excerpt
        max-width: 60%
    &__info
        padding: 12px 35px
        border-top: 1px solid #D9DADB
        display: flex
        align-items: center
    &__avatar
        width: 30px
        height: 30px
        margin-right: 10px
        border-radius: 50%
    &__author
        font-weight: 900
        margin-right: 5px
    &__comments
        margin-left: auto
        font-size: 12px
        line-height: 15px
        color: #939699
        padding-left: 20px
        background: url('../images/comment.svg') no-repeat left center

/* Second card */

.articles-grid-2
    grid-area: 1 / 3 / 2 / 4
    &__link
        position: relative
        padding: 25px
        padding-right: 10px
        display: flex
        flex-direction: column
        height: 100%
        >*
            position: relative
            z-index: 2
        &::after
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background-color: rgba(#40303D, 0.35)
            z-index: 1
    &__img
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        object-fit: cover
        z-index: 0
    &__tag
        margin-bottom: auto
        align-self: flex-start
        padding: 5px 12px
        font-size: 12px
        line-height: 15px
        color: white
        text-transform: capitalize
        border-radius: 3px
        background-color: #3DC47E
    &__category
        display: block
        margin-bottom: 23px
        text-transform: uppercase
        font-size: 12px
        line-height: 15px
        font-weight: 900
        letter-spacing: 0.5px
        color: #E7D9FF
    &__heading
        text-transform: uppercase
        margin-bottom: 27px
        +roboto
        font-size: 16px
        line-height: 25px
        color: white
    &__info
        display: flex
        align-items: center
    &__avatar
        width: 45px
        height: 45px
        margin-right: 10px
        border-radius: 50%
    &__author
        display: block
        font-weight: 400
        color: white
    &__date
        margin-right: 7px
        font-size: 12px
        line-height: 15px
        color: rgba(#fff, 0.4)
    &__comments
        margin-right: 7px
        padding-left: 20px
        background: url('../images/comment_alt.svg') no-repeat left center
        font-size: 12px
        line-height: 15px
        color: rgba(#fff, 0.4)
    &__likes
        padding-left: 18px
        background: url('../images/heart.svg') no-repeat left center
        font-size: 12px
        line-height: 15px
        color: rgba(#fff, 0.4)


/* Third card */

.articles-grid-3
    grid-area: 2 / 1 / 4 / 2
    &__link
        position: relative
        display: flex
        align-items: flex-end
        height: 100%
    &__img
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        object-fit: cover
    &__heading
        position: relative
        padding: 15px 25px 30px
        +roboto
        font-size: 16px
        line-height: 25px
        color: $gray100
        background-color: #fff

/* Other cards */

.articles-grid-default
    &__link
        padding: 25px
        padding-bottom: 30px
        display: flex
        flex-direction: column
        height: 100%
    &__heading
        margin-bottom: 5px
        +roboto
        font-size: 16px
        line-height: 25px
        color: $gray100
    &__excerpt
        margin-bottom: 10px
    &__date
        font-size: 12px
        line-height: 15px
        color: #939699
        margin-top: auto
    
/* Sidebar */

.grid-sidebar
    height: 100%
    display: flex
    flex-direction: column
    .tagcloud
        flex-basis: 50%
    
.widget
    border-radius: 10px
    background-color: #fff
    overflow: hidden
    &:not(:last-child)
        margin-bottom: 30px

.widgettitle
    padding: 20px 25px
    text-transform: uppercase
    font-size: 14px
    line-height: 20px
    font-weight: 900
    letter-spacing: 0.5px
    color: $gray100
    border-bottom: 1px solid #D9DADB

/* Downloader widget */

.downloader-widget
    flex-basis: calc( 25% - 30px )
    display: flex
    flex-direction: column
    background: #3BBDC4 url('../images/download-file.svg') no-repeat right 10px top 20px
    &__heading
        padding: 25px
        padding-bottom: 0
        margin-bottom: 10px
        +roboto
        font-size: 16px
        line-height: 25px
        color: white
    &__text
        color: #C1F4F5
        padding: 0 25px
        margin-bottom: 10px
    &__link
        margin-top: auto
        display: flex
        justify-content: center
        padding: 12px 0
        border-top: 1px solid #96E2E3
    &__link-content
        padding-left: 30px
        color: white
        font-weight: 900
        background: url('../images/download-icon.svg') no-repeat left center

/* Tag cloud widget */

.tagcloud
    padding: 20px
    padding-bottom: 30px
    padding-right: 10px
    display: flex
    flex-wrap: wrap
    a
        padding: 5px 15px
        margin-right: 10px
        color: $gray100
        font-weight: 900
        border: 1px solid #D9DADB
        border-radius: 5px
        &:not(:last-child)
            margin-bottom: 15px
            

/* Social widget */

.social-widget
    flex-basis: calc(25% - 30px)
    padding: 30px 25px 40px
    &__heading
        margin-bottom: 25px
        +roboto
        font-size: 20px
        line-height: 25px
        color: $gray100
        text-align: center
    &__list
        display: flex
        flex-wrap: wrap
    &__item
        display: flex
        &:not(:last-child)
            margin-right: 8px
    &__link
        width: 45px
        height: 45px
        background-repeat: no-repeat
        background-position: center center
        background-size: 45px 45px
        border-radius: 50%


    .social-
        &facebook
            background-image: url('../images/social/facebook.svg')
        &instagram
            background-image: url('../images/social/instagram.svg')
        &youtube
            background-image: url('../images/social/youtube.svg')
        &twitter
            background-image: url('../images/social/twitter.svg')