=roboto
    font-family: 'Roboto Slab'
    font-weight: 700


$blue75: #4592FF
$gray85: #4B5157
$gray100: #262D33


body
    font-family: 'Lato', sans-serif
    font-size: 14px
    line-height: 20px
    font-weight: 400
    color: $gray85
    background-color: #e5e5e5
    
.container
    max-width: 1240px
    padding: 0 50px
    margin: 0 auto

.main-page-h1
    +roboto
    font-size: 60px
    margin-top: 100px
    text-align: center

.category-
    &link
        display: block
        font-size: 12px
        line-height: 15px
        font-weight: 900
        text-transform: uppercase
        letter-spacing: 0.5px
    &css
        color: #3BBDC4
    &html
        color: #AC8EE3
    &javascript
        color: #6E99AE
    &web-design
        color: #FFA34D
    &articles
        color: #4592FF
    &career
        color: #FF4F52
    &investigation
        color: #3DC47E
    &photoreport
        color: #AC8EE3
        