.lesson-list
    display: flex
    flex-direction: column
    &__item
        padding: 20px
        background-color: #fff
        margin-bottom: 30px
        border-radius: 10px
    &__top
        display: flex
        margin-bottom: 20px
    &__title
        +roboto
        color: $gray100
        font-size: 20px
        line-height: 25px
        margin-right: auto
    &__info
        display: flex
        justify-content: space-between