/* roboto-slab-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/roboto-slab-v13-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-slab-v13-latin_cyrillic-700.woff") format("woff");
}

/* roboto-slab-700 - latin_cyrillic */
@font-face {
  font-family: 'Lato';
  font-style: bold;
  font-weight: 900;
  font-display: swap;
  src: local(""), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
}

/* roboto-slab-700 - latin_cyrillic */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #4B5157;
  background-color: #e5e5e5;
}

.container {
  max-width: 1240px;
  padding: 0 50px;
  margin: 0 auto;
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

.main-page-h1 {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  margin: 50px 0;
  text-align: center;
}

.read-more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px 20px;
  font-weight: 900;
  color: white;
  border-radius: 20px;
  background-color: #4592FF;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 8px;
}

.category-link {
  display: block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.category-css {
  color: #3BBDC4;
}

.category-html {
  color: #AC8EE3;
}

.category-javascript {
  color: #6E99AE;
}

.category-web-design {
  color: #FFA34D;
}

.category-articles {
  color: #4592FF;
}

.category-career {
  color: #FF4F52;
}

.category-investigation {
  color: #3DC47E;
}

.category-photoreport {
  color: #AC8EE3;
}

.grid-sidebar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-sidebar .tagcloud {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.widget {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.widget:not(:last-child) {
  margin-bottom: 30px;
}

.widgettitle {
  padding: 20px 25px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #262D33;
  border-bottom: 1px solid #D9DADB;
}

/* Downloader widget */
.downloader-widget {
  -ms-flex-preferred-size: calc( 25% - 30px);
      flex-basis: calc( 25% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3BBDC4 url("../images/download-file.svg") no-repeat right 10px top 20px;
}

.downloader-widget__heading {
  padding: 25px;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: white;
}

.downloader-widget__text {
  color: #C1F4F5;
  padding: 0 25px;
  margin-bottom: 10px;
}

.downloader-widget__link {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
  border-top: 1px solid #96E2E3;
}

.downloader-widget__link-content {
  padding-left: 30px;
  color: white;
  font-weight: 900;
  background: url("../images/download-icon.svg") no-repeat left center;
}

/* Tag cloud widget */
.tagcloud {
  padding: 20px;
  padding-bottom: 30px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tagcloud a {
  padding: 5px 15px;
  margin-right: 10px;
  color: #262D33;
  font-weight: 900;
  border: 1px solid #D9DADB;
  border-radius: 5px;
}

.tagcloud a:not(:last-child) {
  margin-bottom: 15px;
}

/* Social widget */
.social-widget {
  padding: 30px 25px 40px;
}

.social-widget__heading {
  margin-bottom: 25px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
  text-align: center;
}

.social-widget__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-widget__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-widget__item:not(:last-child) {
  margin-right: 8px;
}

.social-widget__link {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 45px 45px;
  border-radius: 50%;
}

.social-facebook {
  background-image: url("../images/social/facebook.svg");
}

.social-instagram {
  background-image: url("../images/social/instagram.svg");
}

.social-youtube {
  background-image: url("../images/social/youtube.svg");
}

.social-twitter {
  background-image: url("../images/social/twitter.svg");
}

/* Recent posts widget */
.recent-posts-widget__container {
  padding: 0 25px;
}

.recent-posts-widget__post {
  padding: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #D9DADB;
}

.recent-posts-widget__post:last-child {
  border-bottom: none;
  padding-bottom: 25px;
}

.recent-posts-widget__img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.recent-posts-widget__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-posts-widget__heading {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #4B5157;
  margin-bottom: 5px;
}

.recent-posts-widget__date {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.recent-posts-widget__count {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 70px;
  line-height: 1;
  font-weight: 900;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  color: #262D33;
  opacity: 0.08;
}

.header {
  padding: 15px 0;
  background-color: #262D33;
}

.custom-logo {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__menu a {
  color: white;
  font-weight: 900;
}

.search {
  position: relative;
}

.search__input {
  width: 263px;
  background-color: #656B70;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  color: #BCBFC2;
}

.search__input::-webkit-input-placeholder {
  color: #939699;
}

.search__input:-ms-input-placeholder {
  color: #939699;
}

.search__input::-ms-input-placeholder {
  color: #939699;
}

.search__input::placeholder {
  color: #939699;
}

.search__btn {
  position: absolute;
  right: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: url("../images/search__btn.svg") no-repeat center center;
}

.hero {
  padding-top: 30px;
  margin-bottom: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #262D33), color-stop(80%, #e5e5e5), to(#e5e5e5));
  background-image: linear-gradient(to bottom, #262D33 80%, #e5e5e5 80%, #e5e5e5 100%);
}

.hero__container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

.hero__left {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.hero__right {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.topic {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 55px;
  padding-bottom: 100px;
}

.topic > * {
  position: relative;
  z-index: 2;
}

.topic::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 48, 61, 0.35);
  z-index: 1;
}

.topic__thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.topic .post-categories a {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #4592FF;
  text-transform: uppercase;
}

.topic__info {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topic__heading {
  margin-bottom: 50px;
  max-width: 600px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: white;
}

.topic__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.topic-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.topic-author__avatar {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.topic-author__name {
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.topic-author__rank {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

.recomend {
  background-color: #fff;
}

.recomend__heading {
  padding: 20px 25px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #262D33;
}

.recomend__item {
  padding: 17px 25px;
  min-height: 100px;
  border-top: 1px solid #D9DADB;
}

.recomend__item:hover {
  background-color: #f5f5f5;
}

.recomend .category-link {
  margin-bottom: 8px;
}

.recomend__link {
  display: block;
}

.recomend__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.articles {
  margin-bottom: 30px;
}

.articles__list {
  padding: 25px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #30363D;
  border-radius: 10px;
}

.articles__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles__item:not(:last-child) {
  border-right: 1px solid #4B5157;
}

.articles__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.articles__heading {
  padding-right: 15px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
  color: white;
  margin-right: auto;
}

.articles__img {
  width: 65px;
  height: 65px;
}

.articles-grid {
  margin-bottom: 60px;
}

.articles-grid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles-grid__left {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  margin-right: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: minmax(min-content, max-content) 1fr 1fr;
      grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) 1fr 1fr;
      grid-template-rows: minmax(min-content, max-content) 1fr 1fr;
  grid-gap: 30px;
}

.articles-grid__right {
  -ms-flex-preferred-size: calc( 25% - 30px);
      flex-basis: calc( 25% - 30px);
  overflow: hidden;
  border-radius: 10px;
}

.articles-grid__item {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.articles-grid__link {
  display: block;
}

/* First card */
.articles-grid-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.articles-grid-1__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.articles-grid-1__top {
  position: relative;
  padding: 35px;
  padding-bottom: 49px;
}

.articles-grid-1__top > * {
  position: relative;
}

.articles-grid-1__top::after {
  content: '';
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), to(white)), -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), to(white));
  background-image: linear-gradient(to left, transparent 50%, white 100%), linear-gradient(to bottom, transparent 70%, white 100%);
}

.articles-grid-1__img {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-grid-1__category {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #6E99AE;
}

.articles-grid-1__heading {
  margin-bottom: 25px;
  max-width: 60%;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}

.articles-grid-1__excerpt {
  max-width: 60%;
}

.articles-grid-1__info {
  padding: 12px 35px;
  border-top: 1px solid #D9DADB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-grid-1__avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.articles-grid-1__author {
  font-weight: 900;
  margin-right: 5px;
}

.articles-grid-1__comments {
  margin-left: auto;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
  padding-left: 20px;
  background: url("../images/comment.svg") no-repeat left center;
}

/* Second card */
.articles-grid-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.articles-grid-2__link {
  position: relative;
  padding: 25px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.articles-grid-2__link > * {
  position: relative;
  z-index: 2;
}

.articles-grid-2__link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 48, 61, 0.35);
  z-index: 1;
}

.articles-grid-2__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.articles-grid-2__tag {
  margin-bottom: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 5px 12px;
  font-size: 12px;
  line-height: 15px;
  color: white;
  text-transform: capitalize;
  border-radius: 3px;
  background-color: #3DC47E;
}

.articles-grid-2__category {
  display: block;
  margin-bottom: 23px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #E7D9FF;
}

.articles-grid-2__heading {
  text-transform: uppercase;
  margin-bottom: 27px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: white;
}

.articles-grid-2__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-grid-2__avatar {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

.articles-grid-2__author {
  display: block;
  font-weight: 400;
  color: white;
}

.articles-grid-2__date {
  margin-right: 7px;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.articles-grid-2__comments {
  margin-right: 7px;
  padding-left: 20px;
  background: url("../images/comment_alt.svg") no-repeat left center;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.articles-grid-2__likes {
  padding-left: 18px;
  background: url("../images/like_alt.svg") no-repeat left center;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

/* Third card */
.articles-grid-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
}

.articles-grid-3__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.articles-grid-3__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-grid-3__heading {
  position: relative;
  padding: 15px 25px 30px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
  background-color: #fff;
}

/* Other cards */
.articles-grid-default__link {
  padding: 25px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.articles-grid-default__heading {
  margin-bottom: 5px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}

.articles-grid-default__excerpt {
  margin-bottom: 10px;
}

.articles-grid-default__date {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
  margin-top: auto;
}

.investigation {
  margin-bottom: 60px;
  padding: 50px 0 55px;
  text-align: center;
}

.investigation__heading {
  margin-bottom: 25px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: white;
}

.investigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-column {
  margin-bottom: 60px;
}

.news-column__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-column__left {
  padding: 0 25px;
  -ms-flex-preferred-size: 74%;
      flex-basis: 74%;
  margin-right: 30px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}

.news-column__right {
  -ms-flex-preferred-size: calc( 26% - 30px);
      flex-basis: calc( 26% - 30px);
  overflow: hidden;
  border-radius: 10px;
}

.news-column__item {
  padding: 25px 0;
  min-height: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-column__item:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.news-column__img {
  width: 42%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 25px;
}

.news-column__article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-column__article::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../images/bookmark.svg") no-repeat center center;
}

.news-column .category-link {
  margin-bottom: 15px;
}

.news-column__link {
  margin-bottom: 10px;
}

.news-column__heading {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
}

.news-column__excerpt {
  margin-bottom: 20px;
}

.news-column__info {
  margin-top: auto;
  color: #939699;
  font-size: 12px;
  line-height: 15px;
}

.news-column__date {
  margin-right: 10px;
}

.news-column__comments {
  margin-right: 10px;
  padding-left: 20px;
  background: url("../images/comment.svg") no-repeat left center;
}

.news-column__likes {
  padding-left: 18px;
  background: url("../images/like.svg") no-repeat left center;
}

/* Left column */
.special {
  background-color: #262D33;
  padding: 60px 0;
}

.special__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special__left {
  width: calc(50% - 15px);
  margin-right: 30px;
}

.special__right {
  width: calc(50% - 15px);
}

.photo-report {
  position: relative;
  padding: 18px;
  padding-bottom: 165px;
  overflow: hidden;
  border-radius: 10px;
}

.photo-report__article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.photo-report__category {
  margin-bottom: 7px;
  padding: 5px 12px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 12px;
  line-height: 15px;
  color: white;
  background-color: #3DC47E;
  border-radius: 3px;
}

.photo-report__author {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-report__author-avatar {
  margin-bottom: 8px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.photo-report__author-name {
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.photo-report__author-rank {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.photo-report__heading {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-report__link {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: white;
  text-align: center;
}

.photo-report__count {
  font-weight: 400;
  color: #C5E4FC;
  margin-left: 8px;
}

.photo-report__icon {
  width: 19px;
  height: 15px;
  fill: #fff;
  margin-right: 8px;
}

/* Slider */
.photo-report__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.photo-report__slider::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 48, 61, 0.35);
  z-index: 1;
}

.photo-report__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 45px;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

/* Right column */
.special__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: minmax(min-content, max-content) 1fr;
      grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) 1fr;
      grid-template-rows: minmax(min-content, max-content) 1fr;
  grid-gap: 30px;
}

.special__article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  position: relative;
  padding: 35px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #B4D1E0;
  border-radius: 10px;
  overflow: hidden;
}

.special__article > * {
  position: relative;
}

.special__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.special__category {
  margin-bottom: 20px;
}

.special__heading {
  margin-bottom: 15px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  max-width: 250px;
}

.special__excerpt {
  margin-bottom: 45px;
  max-width: 220px;
}

.special__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer {
  background-color: #fff;
}

.footer__container {
  padding: 60px 0 55px;
}

.footer-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu {
  padding: 30px 0 64px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-top: 5px solid #000;
}

.footer-menu:nth-child(1) {
  border-color: #FF4F52;
}

.footer-menu:nth-child(2) {
  border-color: #AC8EE3;
}

.footer-menu:nth-child(3) {
  border-color: #4592FF;
}

.footer-menu:nth-child(4) {
  border-color: #FFA34D;
}

.footer-menu:nth-child(5) {
  border-color: #3DC47E;
}

.footer-menu:nth-child(6) {
  border-color: #6E99AE;
}

.footer-menu__title {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
  color: #262D33;
}

.footer-menu li:not(:last-child) {
  margin-bottom: 15px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
}

.footer__nav .social-widget {
  padding: 0;
  margin-left: auto;
}

.footer__nav .social-widget h2 {
  display: none;
}

.footer__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__pages a {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-transform: uppercase;
  color: #262D33;
}

.footer__bottom {
  padding-top: 40px;
  color: #939699;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-text {
  max-width: 66%;
}

.error-404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.error-404__heading {
  font-size: 100px;
  line-height: 1;
  margin-bottom: 30px;
}

.error-404__description {
  font-size: 48px;
  line-height: 1;
}
